<div class="home-page">
  <header>
    <div class="content">
      <div class="actor pull-left">natalie BROWNE</div>
      <div class="actor pull-right">colin david ORR</div>
      <img src="logo.png" class="logo" alt="Tie the Knot" />
    </div>
  </header>
  <div id="gallery" class="carousel slide">
    <div class="carousel-inner">
      <img class="active item" src="gallery/01.jpg" alt="Photo 1" />
      <img class="item" src="gallery/02.jpg" alt="Photo 2" />
      <img class="item" src="gallery/03.jpg" alt="Photo 3" />
      <img class="item" src="gallery/04.jpg" alt="Photo 4" />
      <img class="item" src="gallery/05.jpg" alt="Photo 5" />
      <img class="item" src="gallery/06.jpg" alt="Photo 6" />
      <img class="item" src="gallery/07.jpg" alt="Photo 7" />
      <img class="item" src="gallery/08.jpg" alt="Photo 8" />
      <img class="item" src="gallery/09.jpg" alt="Photo 9" />
      <img class="item" src="gallery/10.jpg" alt="Photo 10" />
      <img class="item" src="gallery/11.jpg" alt="Photo 11" />
      <img class="item" src="gallery/12.jpg" alt="Photo 12" />
      <img class="item" src="gallery/13.jpg" alt="Photo 13" />
      <img class="item" src="gallery/14.jpg" alt="Photo 14" />
      <img class="item" src="gallery/15.jpg" alt="Photo 15" />
    </div>
    <a class="carousel-control left" href="#gallery" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#gallery" data-slide="next">&rsaquo;</a>
  </div>
  <p class="premieres">Premieres 20<sup>th</sup> May 2013</p>
  <footer>
    <p>Jasper Productions presents a Nacho Browne feature "Colin &amp; Natalie Tie the Knot"</p>
    <p>Natalie Browne, Colin Orr with special guest star Jasper "Jazz-a-Muffins" Orr</p>
    <p>Engagement photography by <a href="http://www.littlemug.co.uk" target="_blank">Little Mug</a>, filmed on location at <a href="http://www.whiteabbey.org" target="_blank">Whiteabbey Presbyterian</a> and <a href="http://www.larchfieldestate.co.uk" target="_blank">Larchfield Estate</a></p>
    <p>Copyright &copy; 2013 Colin Orr</p>
  </footer>
</div>
