<% content_for :content do %>

<header>
  <div class="container">
    <img src="/logo.png" class="logo pull-left" alt="Tie the Knot" />
  </div>
</header>
<div class="container">
  <%= yield %>
</div>

<% end %>
<%= render :template => 'layouts/application' %>