<% content_for :content do %>

<header>
  <div class="container">
  	<a href="<%= root_path %>">
      <img src="/logo.png" class="logo pull-right" alt="Tie the Knot" />
    </a>
  </div>
</header>
<div class="container">
  <%= yield %>
</div>

<% end %>
<%= render :template => 'layouts/application' %>